# =========================
# Spring Boot / Gradle
# =========================

.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# React / Vite
# =========================

node_modules/
dist/

# =========================
# IDE
# =========================

.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================

*.log

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# OS
# =========================

.DS_Store
Thumbs.db