<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tarot.demo.coupon.mapper.CouponMapper">

    <select id="findAll" resultType="com.tarot.demo.DTO.CouponDTO">
        SELECT
            coupon_code AS couponCode,
            coupon_name AS couponName,
            coupon_stock AS couponStock
        FROM coupon
    </select>
    <insert id="coupon" parameterType="com.tarot.demo.DTO.CouponIssueDTO">
        INSERT INTO coupon_issue (user_id, coupon_code)
        VALUES (#{userId}, #{couponCode})
    </insert>
    <update id="updateCouponStock" parameterType="String">
        UPDATE coupon
        SET coupon_stock = coupon_stock - 1
        WHERE coupon_code = #{couponCode} AND coupon_stock <![CDATA[>]]> 0
    </update>
    <select id="countCoupon" parameterType="com.tarot.demo.DTO.CouponIssueDTO" resultType="int">
        SELECT
            count(*)
        FROM coupon_issue
        WHERE coupon_code = #{couponCode} and user_id = #{userId}
    </select>
    <update id="markCouponUsed">
        UPDATE coupon_issue
        SET used = 'Y'
        WHERE coupon_code = #{couponCode}
          AND user_id = #{userId}
    </update>
    <delete id="deleteCouponIssue">
        DELETE FROM coupon_issue
        WHERE coupon_code = #{couponCode}
          AND user_id = #{userId}
    </delete>
</mapper>
